<nav>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/pedidos">Consultar Pedidos</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/pedido/criar">Criar Pedido</a></li>
    </ul>
</nav>
