{% extends 'layouts/main.html.twig' %}

{% block title %}Página não encontrada{% endblock %}

{% block content %}
<h1>Erro 404 - Página não encontrada</h1>
<p>A página que você está tentando acessar não existe.</p>
<a href="/">Voltar para a home</a>
{% endblock %}
