{% extends 'layouts/main.html.twig' %}

{% block title %}Erro 500 - Erro Interno do Servidor{% endblock %}

{% block content %}
<div class="error-container">
    <h1>500</h1>
    <h2>Ocorreu um Erro Interno do Servidor</h2>
    <p>Desculpe, mas algo deu errado ao processar sua solicitação.</p>
    <p><a href="/">Voltar para a página inicial</a></p>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/error.js"></script>  <!-- Adiciona o script para a página -->
{% endblock %}
